body {
  margin: 15px;
  font-family: sans-serif;
}

.container {
  display: flex;
  margin-bottom: 14px;
}

.container--app {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
}

.container--dial {
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 25px;
  background-color: #333333;
  border-radius: 4px;
}

.container--buttons {
  justify-content: space-around;
}

.output {
  padding: 12px;
  margin-bottom: 14px;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: #57626c;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14);
}

.dial-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90px;
  height: 50px;
  margin: 5px 0;
  text-align: center;
  color: #fff;
  background-color: #eb9d08;
  border: 1px solid #126d7f;
  border-radius: 50%;
  box-shadow: inset 8px 6px #f5dcae;
  user-select: none;
  cursor: pointer;
}

.dial-button:active {
  box-shadow: inset 8px 6px #795f2e;
}

.dial-button--disabled {
  background-color: #d8bf90;
  cursor: default;
}

.dial-button__title {
  display: block;
  font-weight: 700;
}

.dial-button__subtitle {
  font-size: 10px;
}

.input {
  width: auto;
  height: 38px;
  padding: 3px 15px;
  margin-bottom: 14px;
  border: 1px solid #e9eef2;
  text-align: center;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.button {
  min-width: 100px;
  padding: 10px;
  border: none;
  color: #57626c;
  background-color: transparent;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.button:active,
.button:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
